<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129619942315-0qapdcg2cen5r0misot37s4qraiqqsme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129619942315-0qapdcg2cen5r0misot37s4qraiqqsme</string>
	<key>API_KEY</key>
	<string>AIzaSyCWjDdvlyHTcrKG1O28ojz0HWg3TRHQn-c</string>
	<key>GCM_SENDER_ID</key>
	<string>129619942315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ThomasJurczyk.firebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>notepad-73ea7</string>
	<key>STORAGE_BUCKET</key>
	<string>notepad-73ea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129619942315:ios:22ab5607146e99b0</string>
	<key>DATABASE_URL</key>
	<string>https://notepad-73ea7.firebaseio.com</string>
</dict>
</plist>